# Logs and databases #
######################
config/database.php


# Index #
######################
index.php

# HTACCESS #
######################
.htaccess

# Configuraciones de entorno #
######################
config/app.production.php
config/app.development.php

# Scripts de migración #
######################
utils/fix_urls.php
utils/replace_urls.php

# Eliminado /subs de las url #
######################
public/js/admin-dashboard.js
public/js/login.js
public/js/moderator-dashboard.js
public/js/participant-dashboard.js