# Logs and databases #
######################
config/database.php


# Index #
######################
index.php

# HTACCESS #
######################
.htaccess

# Eliminado /subs de las url #
######################
public/js/admin-dashboard.js
public/js/login.js
public/js/moderator-dashboard.js
public/js/participant-dashboard.js