-- SQL para agregar campo usuario_id a la tabla documentos_producto
ALTER TABLE documentos_producto ADD COLUMN usuario_id INT NOT NULL AFTER producto_id;
ALTER TABLE documentos_producto ADD FOREIGN KEY (usuario_id) REFERENCES usuarios(id);
ALTER TABLE documentos_producto ADD COLUMN procesado BOOLEAN DEFAULT FALSE AFTER fecha_carga;
